@{
    ViewBag.Title = "Index";
}

@if (this.IsAjax)
{
    Layout = "";
}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#monitoring" aria-controls="monitoring" role="tab" data-toggle="tab">Мониторинг</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#datavalues" aria-controls="datavalues" role="tab" data-toggle="tab">Измерения</a></li>
    <li role="presentation"><a href="#params" aria-controls="params" role="tab" data-toggle="tab">Параметры</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="monitoring">Мониторинг</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="datavalues">
        <div id="sandbox-container">
            <div class="input-daterange input-group" id="datepicker">
                <span class="input-group-addon">Начало периода:</span>
                <input id="datepicker_start" type="text" value="@(ViewBag.DateBgn)" class="input-sm form-control" name="start" />
                <span class="input-group-addon">Конец периода:</span>
                <input id="datepicker_end" type="text" value="@(ViewBag.DateEnd)" class="input-sm form-control" name="end" />                
            </div>            
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#sandbox-container .input-daterange').datepicker({
                    todayBtn: true,
                    clearBtn: true,
                    language: "ru",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true,

            
             });

             
             $('#sandbox-container .input-daterange').datepicker()
                             .on('show', function (ev) {
                        ev.stopPropagation();
                    })
                    .on('changeDate', function (ev, date) {
                        
                        
                        console.log( $("#flag").val() );
                        if ($("#flag").val() == 1) {
                         
                         console.log("D");
                         console.log( $("#main_site_id").val() );
                         LoadDataValues( $("#main_site_id").val() );

                         $("#flag").val("0");
                         console.log( $("#flag").val() );
                        } else {
                        $("#flag").val("1");
                        }
                        
                        
                        ev.stopPropagation();
                    });
                   


             });

             
    </script>
        <div id="datavalues_result"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="params"><div id="params_result"></div></div>
  </div>

</div>



<script type="text/javascript">

    function LoadParams(SiteId) {
        var param = { siteid: SiteId };
        
        $.ajax({
            cache: false,
            url: '@Url.Action("GetSiteParams", "Ajax")',
            data: param,
            success: function (data) {
                document.getElementById("params_result").innerHTML = data;
            },
            error: function (x, e, thrownError) {
                document.getElementById("params_result").innerHTML = '<p>Ошибка запроса</p><p>' + thrownError + '</p>';
            }
        });

        document.getElementById("params_result").innerHTML = "Загрузка";
    }

    function LoadDataValues(SiteId) {
        var param = { siteid: SiteId, date_start: $("#datepicker_start").val(), date_end: $("#datepicker_end").val() };

        console.log($("#datepicker_start").val());
        console.log($("#datepicker_end").val());

        $.ajax({
            cache: false,
            url: '@Url.Action("GetDataValues", "Ajax")',
            data: param,
            success: function (data) {
                document.getElementById("datavalues_result").innerHTML = data;
                //$('#jqxTabsDataValues').jqxTabs({ width: '100%', height: '100%', position: 'top' });
            },
            error: function (x, e, thrownError) {
                document.getElementById("datavalues_result").innerHTML = '<p>Ошибка запроса</p><p>' + thrownError + '</p>';                
            }
        });

        document.getElementById("datavalues_result").innerHTML = "Загрузка";
    }
</script>
